<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>La boutique de rodims</title>
</head>
<body>
    <a href="{% url 'index' %}">
        <h1>Le site de rodims</h1>
    </a>

    {% if user.is_authenticated %}
        {{ user.username }}
        <a href="{% url 'logout' %}">Deconnexion</a>
    {% else %}
        <a href="{% url 'login' %}">Connexion</a>
        <a href="{% url 'singup' %}">S'inscrire</a>
    {% endif %}


        <p>
            <a href="{% url 'cart' %}">Voir le panier ({{ user.cart.orders.count }})</a>
        </p>



    {% block content %}
    {% endblock %}

</body>
